{% extends 'cruds/base.html' %}
{% load i18n %}


{% block title %}{% trans "Data Analysis Tools" %}{% endblock %}
{% block page_name %} {% trans "Django" %} {% endblock %}
{% block page_description %}{% trans "Demostration index" %} {% endblock %}


{% block content %}

<!--<h1> Bingo</h1>-->

<table>
<tbody>
	<tr>
		<td><iframe src="//www.slideshare.net/slideshow/embed_code/key/wZ6J3Cze3f6lgx" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/ga-masterclass" title="GA (Google Analytics) Masterclass    " target="_blank">GA (Google Analytics) Masterclass | </a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta</a></strong> </div></td>
		<td><iframe src="//www.slideshare.net/slideshow/embed_code/key/H6fSKdQdz6mqNy" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/pengantar-jaringan-komputer-77757686" title="Pengantar jaringan komputer" target="_blank">Pengantar jaringan komputer | </a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta</a></strong> </div></td>
		<td><iframe src="//www.slideshare.net/slideshow/embed_code/key/FY4UD7XGjGGOvZ" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/ayat-jurnal-penyesuaian-dan-ayat-jurnal-balik" title="Ayat jurnal penyesuaian dan ayat jurnal balik" target="_blank">Ayat jurnal penyesuaian dan ayat jurnal balik</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div></td>
	</tr>

	<tr>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/8JYMsAWcBjMIGT" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/ikhtisar-pengantar-akuntansi-dan-manajemen-keuangan2" title="Ikhtisar pengantar akuntansi dan manajemen keuangan2" target="_blank">Ikhtisar pengantar akuntansi dan manajemen keuangan2</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/DhFSDunkEwnF9L" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/cluster-management-supercomputer" title="Cluster management (supercomputer)" target="_blank">Cluster management (supercomputer)</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/GZG9CdpDOtU1AE" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/update-superkomputer-dengan-native-gnu-linux-final" title="Update - Superkomputer dengan Native GNU/ Linux - Final" target="_blank">Update - Superkomputer dengan Native GNU/ Linux - Final</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
	</tr>

	<tr>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/zImvB9pvuE6LGP" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/superkomputer-dengan-native-linuxencrypted" title="Superkomputer dengan Native Linux(encrypted)" target="_blank">Superkomputer dengan Native Linux(encrypted)</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/ysXsxqQSBqiEkt" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/esensi-sholat-berjamaah-43866498" title="Esensi Sholat Berjama&#x27;ah" target="_blank">Esensi Sholat Berjama&#x27;ah</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/yKV3KGkJoC6g3T" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/vcenter-server-appliance-testing" title="Vcenter Server Appliance - Testing" target="_blank">Vcenter Server Appliance - Testing</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
	</tr>

	<tr>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/IKyftX1yWgYkz" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/cloud-computing-dengan-vmware" title="Cloud Computing Dengan VMWARE" target="_blank">Cloud Computing Dengan VMWARE</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/j4dJ5VWtFg8g2k" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/panduan-evaluasi-sholat-dan-hadits-shahih-mengevaluasi-cara-sholat-kita" title="Panduan Evaluasi Sholat dan Hadits Shahih - Mengevaluasi Cara Sholat Kita" target="_blank">Panduan Evaluasi Sholat dan Hadits Shahih - Mengevaluasi Cara Sholat Kita</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/3epGQJOqq532d9" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/mengenal-java-sebagai-pemrograman-berorientasi-objek-dan-implementasi-thread" title="Panduan Java sebagai Pemrograman Berorientasi Objek dan Implementasi Thread" target="_blank">Panduan Java sebagai Pemrograman Berorientasi Objek dan Implementasi Thread</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
	</tr>

	<tr>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/LqiHA4WhzCKUs" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/implementasi-kannel-dengan-modem-wavecom-di-linux-opensuse-112" title="Implementasi Kannel dengan modem Wavecom di Linux OpenSuSE 11.2" target="_blank">Implementasi Kannel dengan modem Wavecom di Linux OpenSuSE 11.2</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/bRgf9koH13SrLf" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/mengenal-pl-sql" title="Mengenal ORACLE PL/ SQL" target=    "_blank">Mengenal ORACLE PL/ SQL</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta |</a></strong> </div>
		</td>
		<td>
			<iframe src="//www.slideshare.net/slideshow/embed_code/key/E2svDABYrHkzvV" width="295" height="185" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/haryjava/metode-praktis-penetapan-nisab-zakat-3235543" title="Metode Praktis Penetapan Nisab Zakat" target="_blank">Metode Praktis Penetapan Nisab Zakat</a> </strong> from <strong><a href="https://www.slideshare.net/haryjava" target="_blank">Hary Cahyono HarysMatta</a></strong> </div>
		</td>
	</tr>
<tbody>
<table>



{% endblock %}
