{% extends 'cruds/base.html' %}

{% block content %}
{% block title %}Django with Plot - Matplotlib{% endblock %}
<br>
<!--<script type="text/javascript" src="static/code/highcharts.js"></script>
<script type="text/javascript" src="static/code/highcharts-3d.js"></script>-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
	<img src='https://tifosilinux.files.wordpress.com/2018/11/matplotlib.png' height='70px' width='160px'/><br>
</head>
<body>
	<pre>
		{{ S }}
	</pre>
</body>

{% endblock content %}
</html>
