.container
margin-top:30px;
}

h1,
font-family:
font-weight:700;
}

.fancyTab
text-align:
padding:15px
background-color:
box-shadow:
top:15px;
transition:
}

.fancyTab.active
top:0;
transition:top
}

.whiteBlock
display:none;
}

.fancyTab.active
display:block;
height:2px;
bottom:-2px;
background-color:#fff;
width:99%;
position:absolute;
z-index:1;
}

.fancyTab
font-family:
font-size:1.65em;
font-weight:300;
transition:.2s;
color:#333;
}
.fancyTabs
border-bottom:2px
margin:
}

li.fancyTab
padding-top:
top:-15px;
padding-bottom:0;
}

li.fancyTab.active
padding-top:
}

.fancyTab
font-size:
width:100%;
padding:
color:#666;
}

.fancyTab.active
color:
}

.fancyTab
outline:none;
}

.fancyTabContent
border-color:
box-shadow:
padding:
position:relative;
background-color:#fff;
}

.nav-tabs
.nav-tabs
.nav-tabs
border-width:0;
}

.nav-tabs
background-color:#f9f9f9;
box-shadow:
}

.nav-tabs
background-color:#fff;
box-shadow:
}

.nav-tabs
border-color:transparent;
}

.nav.nav-tabs
background-color:transparent;
border-bottom:0;
}

.nav-tabs
border-right:
}

.nav-tabs
margin-right:0;
border-top:0;
padding-bottom:
margin-bottom:
}

.nav-tabs
margin-right:0;
margin-bottom:0;
}

.nav-tabs
border-right:
}

.nav-tabs
border-right:
box-shadow:
}

.fancyTab:last-child
box-shadow:
}

.tabs
box-shadow:none;
top:0;
}


.fancyTab.active
background:
box-shadow:
padding-bottom:30px;
}

.arrow-down
display:none;
width:
height:
border-left:
border-right:
border-top:
position:
top:
left:
}

.arrow-down-inner
width:
height:
border-left:
border-right:
border-top:
position:
top:
left:
}

.fancyTab.active
display:
}

@media

.fancyTab
font-size:
}

.fancyTab
font-size:22px;
}

}


@media

.fancyTab
font-size:
}

.fancyTab
font-size:18px;
font-weight:normal;
}

}


@media

.fancyTab
font-size:18px;
}

.nav
padding:15px
margin-bottom:inherit;
}

.fancyTab
font-size:30px;
}

.nav-tabs
border-right:1px
padding-bottom:0;
}

.fancyTab.active
color:
}

}
